/* styles.css */

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container_quiz {
  max-width: 900px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  margin-right: 10px;
}

ul {
  padding-left: 20px;
  list-style-type: none;
}

li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

li:hover {
  background-color: #f2f2f2;
}

.option {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.option:hover {
  background-color: #dbd7d7;
}

.selected-option {
  background-color: #4f9df1;
  color: #d6ea20;
}

.timer {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.ans_w {
  color: red;
  font-size: 1em;
  font-weight: bold;
}

.ans_r {
  color: #03a203;
  font-size: 1em;
  font-weight: bold;
}

/* quizStyles.css */
.total-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.score-circle {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.score-text {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}
