/* BrowseGamePage.css */
.browse-game-page {
  padding: 20px;
}

.browse-game-page h1 {
  color: #333;
}

.browse-game-page a {
  text-decoration: none;
  color: #007bff;
}

.browse-game-page a:hover {
  text-decoration: underline;
}

/* Add loader styling */
.loader {
  font-size: 18px;
  font-weight: bold;
  color: #007bff; /* Highlighted color */
  margin-top: 20px;
}
